
@{
    ViewBag.Title = "ViewDonation";
}

<div class="jumbotron text-center" style="margin-top: 80px; box-shadow: 0 1px 2px rgba(0, 0, 0, .6)">
    <p>Sadqa And Zakat Collection And Distribution</p>
    <h2>Welcome View Donation</h2>


</div>


<table>

    <tr>
        <td style="padding-left:470px;padding-bottom:25px"><input type="submit" onclick="location.href = '@Url.Action("others","Welcome")'" value="others" style="background-color: #3680f7; color: white; width: 120%" class="btn btn-default" /></td>
    </tr>
    <tr>
        <td style="padding-left:470px;padding-bottom:25px"><input type="submit" onclick="location.href = '@Url.Action("Familys","Welcome")'" value="Familys" style="background-color: #3680f7; color: white; width: 120%" class="btn btn-default" /></td>
    </tr>
</table>


